@import "../../App.scss";

$mainFeedContentMargin: 3em;
$feedItemMargin: 1em;

.side-nav{
    border-right: 5px solid #DC7878;
    height: $fullHeight;

}

.side-nav > div{

    margin: $mainFeedContentMargin;

}

.filter-bar-item {
    padding: $mainFeedContentMargin;
}

.side-nav-row{

    height: $fullHeight;
    
}

.side-nav-item{

    padding: 1em;

    font-family: $fontBold;
}

.create-thread-button{
    width: 13em;
    padding: .5em;
    font-family: $fontBold;
    border-radius: $buttonRadius;
    border: $none;
}

.sub-title{
   
    font-family: $fontBold;
}

.filter-item{
    padding-left: $mainFeedContentMargin;
}

.feed-item{

    width: $fullWidth;
    background-color: white;
    border-radius: $buttonRadius;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.18);
    margin: 1em;
}

.feed-header{

    margin: $feedItemMargin;

}

.comment-container{

    margin: $feedItemMargin;

}

.content-container{
    margin: $feedItemMargin;
}

.like-dislike-container{
    padding: $mainFeedContentMargin;
}

.l-d-button {

  background-color: $none;

}

.feed-pagentation{
    display: $displayFlex;
}
.feed-pagentation > div{

    margin-left: $feedItemMargin;
   
}

button{

    border: $none;
   
  
  }

.comment-column{

    display: $displayFlex;

}
.comment-column > div{margin: $feedItemMargin;}

.create-thread-button{

    background-color: #373737;
    color: white;
}